p{
  color: black;
}


ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}


ul.LEDs li {
  /* background-color: #eaeaea; */
  border: 1px solid #eaeaea;
  height: 12vw;
  max-height: 125px;
}


@media all and (max-width: 800px) {
  ul {
    grid-gap: .25em;
  }

}
